html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(175, 175, 175);
    margin: 0;
    font-family: monospace;
}

.navbar{
    background-color: rgba(56, 54, 54, 0.762);
    height: 60px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.logo:hover{
    cursor: pointer;
}

.logoPic{
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbarItem{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

.navbarItemClick{
    padding-right: 10px;
}

.navbarItemClick:hover{
    cursor: pointer;
}

.parallax {
    /* text-align: center; */
    vertical-align: middle;
    /* line-height: 1000px; */
    /* text-shadow: 1px 5px 10px black; */
    color: white;
    
    
    background-color: rgb(0, 0, 0);

    min-height: 1000px;

    background-attachment: fixed;
    background-repeat:repeat;
    background-size: 25%;
    background-position: center;
}

.homeParallaxImg{
    background-image: url('https://i.pinimg.com/originals/06/e1/1b/06e11b60b01b1684b5a2639f4588426d.gif'); 
    
}

.homeselectImg{
    background-image: url("https://i.pinimg.com/originals/f3/26/cd/f326cd8b7633e8080e59eb81b7854c54.gif");
    background-size: 50%;
}

.transitionImg{
    min-height: 1000px;
    background-position: center;
    background-image: url("https://i.pinimg.com/originals/eb/0f/a7/eb0fa7e72ce89b375e9891545b03a89a.gif");
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    filter: invert(1)
}

.homeTextContainer{
    display:flexbox;
    font-family: "Reddit Mono", monospace;
    width: 100vw;
}

.homeHeaderText {
    font-size: 96px;
    
    height: 50vh;
    margin-left: 5vw;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 30px;
}

.homeDescription {
    font-size: 24px;
    margin-left: 5vw;
    /* border: 1px solid; */
    height: 8vh;
}

.homeScrollDown {
    font-size: 20px;
    text-align: center;
    height: 38vh;
}

.homeScrollDownText{
    width: 100vw;
    padding-bottom: 20px;
    padding-top: 20px;
    &:hover{
        background-color: rgba(131, 156, 255, 0.168);
        transition: 1s ease;
        cursor: pointer;
    }
}

.selectPortContainer{
    display: flexbox;
    font-family: "Reddit Mono", monospace;
    width: 100vw;
    height: 100vh;
    /* border: 1px solid; */
}

.selectPortHeaderText{
    text-align: center;
    padding-top: 50px;
    font-size: 72px;
    width: 100vw;
    /* border: 1px solid; */
}

.portfoliosContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    margin: 0px 0px;
}

.portfoliocontent{
    /* border: 1px solid; */
    width: 50%;
    height: 80vh;
    margin-top: 5vh;
    box-sizing: border-box;
    text-align: center;

    display: flexbox;
}

.selectportfolioName{
    /* border: 1px solid; */
    margin-top: 10px;
    font-size: 40px;
    height: 10%;
    &:hover{
        cursor: pointer;
        color: rgb(121, 191, 253);
        font-weight: bold;
        &::before{
            content: '>\00A0'
        }
        &::after{
            content: '\00A0<'
        }
    }
    
}

.portButtoncontainer{
    height: 70%;
    /* border: 1px solid; */
    img{
        border-radius: 5%;
        background-color: rgb(255, 255, 255);
        height: 70%;
        &:hover{
            cursor: pointer;
            border: 1px solid rgb(127, 142, 255);
            scale: 1.1;
        }
    }
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-end{
    display: flex;
    justify-content: center;
    align-items: end;
}

.portDescription{
    height: 20%;
    /* border: 1px solid; */
    font-size: 20px;
    text-shadow: 5px 10px 20px black;
}